Repository neurochain/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image_dev:debug, build_image_dev:release, build_image_prod:release

.gitlab-ci.yml:

stages:
  - env_dev
  - build
  - doxygen
  - release
  
variables:
  DOCKER_IMAGE_BUILD: "${CI_REGISTRY_IMAGE}/build"
  DOCKER_IMAGE_CORE: "${CI_REGISTRY_IMAGE}"

services:
  - mongo:3.6-stretch

build_image_dev:debug:
  image: docker:stable
  stage: env_dev
  variables:
    DOCKER_DRIVER: overlay2
  tags:
    - dind
  only:
    changes:
    - utils/dockers/Dockerfile.*
    - CMakeLists.txt
    - src/CMakeLists.txt
    - .gitlab-ci.yml
  script:
    - build_docker "Dockerfile.ubuntu" "Debug"

build_image_dev:release:
  image: docker:stable
  stage: env_dev
  variables:
    DOCKER_DRIVER: overlay2
  tags:
    - dind
  only:
    changes:
    - utils/dockers/Dockerfile.ubuntu
    - ./CMakeLists.txt 
    - ./**/CMakeLists.txt 
    - .gitlab-ci.yml
  script:
    - build_docker "Dockerfile.ubuntu" "Release"

  
build_job:dev:
  image: "${DOCKER_IMAGE_BUILD}/debug:latest" # change that with sha after first run

  stage: build
  tags:
    - cpp
  script:
    - build_bot "Debug"
  artifacts:
    paths:
      - coverage.html
      - build
      - testnet/data.0.testnet

build_job:release:
  image: "${DOCKER_IMAGE_BUILD}/release:latest" # change that with sha after first run
  stage: build
  tags:
    - cpp
  script:
    - build_bot "Release"
  artifacts:
    paths:
      - build

pages:
  image: alpine
  stage: doxygen
  before_script:
    - apk update
    - apk add doxygen
    - apk add ttf-freefont graphviz
  script:
    - mkdir build && cd build && doxygen ../doc/Doxyfile
    - mv html ../public
    - mv ../doc/img ../public 

  only:
    - feaeture/109/documentation
    - feature/ledger
    - tags/build_doc
  artifacts:
    paths:
      - public

build_image_prod:release:
  image: docker:stable
  stage: release
  variables:
    DOCKER_DRIVER: overlay2
  services:
    - docker:stable-dind
  only:
    refs:
      - refs/tags/build_prod
      
    changes:
      - utils/dockers/Dockerfile.ubuntu
      - ./CMakeLists.txt 
      - ./**/CMakeLists.txt 
  script:
    - build_docker "Dockerfile.ubuntu" "Release"

      

.build_bot: &build_bot |
  function build_bot() {
    echo "Building in $1"
    set -ex 
    export BUILD_TYPE=$1
    mkdir build || echo k
    pwd && ls -lahrt ~/
    cd build
    cmake -DCMAKE_INSTALL_PREFIX=${CI_PROJECT_DIR}/root -DCMAKE_BUILD_TYPE=$1 -G Ninja ..
    ninja 
    mkdir /tmp/db && nohup mongod --dbpath /tmp/db & 
    sleep 5
    python3 ../utils/dockers/times3.py ctest -V
    cd .. && python3 -m gcovr -p -r . --html -o coverage.html
  }

.build_docker: &build_docker |
  function build_docker() {
    echo "Building docker image $1"
    set -ex 
    export DOCKER_FILE_NAME=$1
    export BUILD_TYPE=$2
    export IMAGE_SUFFIX=$(echo $BUILD_TYPE| tr '[:upper:]' '[:lower:]')
  
    docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    env
    docker container list -a 
    docker build -f "utils/dockers/$DOCKER_FILE_NAME" --build-arg DOCKER_BUILD_TYPE=$BUILD_TYPE -t "${DOCKER_IMAGE_BUILD}/$IMAGE_SUFFIX:latest" -t "${DOCKER_IMAGE_BUILD}/$IMAGE_SUFFIX:$CI_COMMIT_SHA" .
    docker push "${DOCKER_IMAGE_BUILD}/$IMAGE_SUFFIX:latest"
    docker push "${DOCKER_IMAGE_BUILD}/$IMAGE_SUFFIX:$CI_COMMIT_SHA"
  }
 
before_script:
  - *build_bot
  - *build_docker

[clean] automatic clang-tidy fix Ref #158
  src/crypto/Ecc.cpp
Due: none

[ci] using cloned core repo Ref #106
  .gitlab-ci.yml
  src/api/Rest.hpp
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

[tidy] minor naming fix Ref #158
  src/crypto/KeyPub.hpp
Due: none

[CI] using default user Ref #106
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

[ci] typo Ref #106
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

[ci] typo Ref #106
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

Code review Ref #139
  src/consensus/Consensus.cpp
  src/consensus/Consensus.hpp
  src/crypto/KeyPriv.cpp
  src/ledger/LedgerMongodb.cpp
  src/messages/config.proto
  tests/CMakeLists.txt
  tests/configs/bot0.json
  tests/configs/bot1.json
  tests/configs/bot2.json
  tests/configs/bot_block0.json
  tests/configs/integration_propagation0.json.in
  tests/configs/integration_propagation1.json.in
  tests/configs/integration_propagation2.json.in
  tests/configs/integration_propagation40.json.in
  tests/configs/integration_propagation41.json.in
  tests/configs/integration_propagation50.json.in
  tests/configs/integration_propagation51.json.in
  tests/configs/integration_propagation52.json.in
Due: none

Fix compilation issue Ref #139
  src/CMakeLists.txt
  src/messages/config/Config.hpp
Due: build_image_dev:debug

Add missing file Ref #139
  src/messages/config/Config.cpp
Due: none

Code review Ref #139
  src/consensus/Consensus.cpp
  src/consensus/Consensus.hpp
Due: none

Fix tests Ref #139
  src/consensus/Consensus.hpp
Due: none

[qa] fix from clang-tidy Ref #158
  src/consensus/Consensus.cpp
  src/ledger/LedgerMongodb.cpp
  src/ledger/LedgerMongodb.hpp
  src/tooling/confgen.cpp
Due: none

Generate a block0 for the new testnet Ref #155
  src/tooling/Showkey.cpp
  testnet/b0.json
  testnet/b1.json
  testnet/b2.json
  testnet/bot.json
  testnet/bot_faucet.json
  testnet/bot_generic.json
  testnet/bot_local.json.in
  testnet/bot_wallet.json
  testnet/data.0.testnet
  testnet/key0.pub
  testnet/key1.pub
  tests/configs/update_bot_json.py
Due: none

[api] added a message to communicate with the wallat
  src/api/Rest.hpp
  src/messages/messages.proto
Due: none

Add LICENSE
  LICENSE
Due: none

[cppcheck] fixed erase method usage for iterator
  src/messages/Address.cpp
  src/messages/Subscriber.hpp
Due: none

[cppcheck] don't inline usefull function in assert
  src/ledger/LedgerMongodb.cpp
Due: none

[cppcheck] added tests in blacklist
  cppcheck_suppression.txt
Due: none

[cppcheck] added blacklist for cppcheck
  CMakeLists.txt
Due: build_image_dev:debug

[cppcheck] added explicit to single parameter constructor
  src/common/Buffer.hpp
  src/crypto/KeyPub.hpp
Due: none

[cppcheck] use const reference when possible
  src/crypto/Sign.cpp
  src/crypto/Sign.hpp
  src/tooling/Showkey.cpp
  src/tooling/blockgen.cpp
  src/tooling/blockgen.hpp
Due: none

[cppcheck] unshadow attribute _peers
  src/networking/tcp/Tcp.cpp
  src/networking/tcp/Tcp.hpp
Due: none

[cppcheck] use explicit constructor to load KeyPub
  tests/crypto/Ecc.cpp
Due: none

[ci] not rebuilding image on file changes, too much pain Ref #106
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

[ci] building release images Ref #157
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

[ci] no longer rebuild dev image on fil changes Ref #157
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

[ci] fix ref Ref #157
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

[ci] test for building on tags Ref #157
  .gitlab-ci.yml
  src/messages/Address.cpp
Due: build_image_dev:debug, build_image_dev:release

[ci] typo Ref #157
  src/messages/Address.cpp
Due: none

Fix PII computation Ref #154
  src/consensus/Consensus.cpp
  src/consensus/Pii.cpp
  src/messages/consensus.proto
  src/tooling/Simulator.cpp
  utils/blocks_graph.ipynb
Due: none

increase payload size limit to 1M Ref #148
  src/api/Rest.hpp
Due: none

missing proto definition (missmerge)
  src/messages/config.proto
Due: none

fix missmerge
  tests/configs/integration_propagation40.json.in
Due: none
