Repository neurochain/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image_dev:debug, build_image_dev:release, build_image_prod:release

build_image_dev:debug:
  image: docker:stable
  stage: env_dev
  variables:
    DOCKER_DRIVER: overlay2
  tags:
  - dind
  script:
  - build_docker "Dockerfile.ubuntu" "Debug"

build_image_dev:release:
  image: docker:stable
  stage: env_dev
  variables:
    DOCKER_DRIVER: overlay2
  tags:
  - dind
  script:
  - build_docker "Dockerfile.ubuntu" "Release"

build_image_prod:release:
  image: docker:stable
  stage: release
  variables:
    DOCKER_DRIVER: overlay2
  services:
  - docker:stable-dind
  script:
  - build_docker "Dockerfile.ubuntu" "Release"

Make fees spendable #158
  src/consensus/Consensus.cpp
  src/consensus/Consensus.hpp
  src/ledger/Ledger.hpp
  src/tooling/Simulator.cpp
  tests/consensus/Consensus.cpp
  utils/blocks_graph.ipynb
Due: none

[networking] setting rejected bot to disconnected Ref #Ref 106
  src/Bot.cpp
  src/messages/Message.cpp
  src/networking/tcp/Connection.cpp
Due: none

[log] added precision in log timestamp #Ref 140
  src/common/logger.cpp
Due: none

[networking] lock connection list when sending message #Ref 140
  src/networking/tcp/Tcp.cpp
Due: none

[debug] don't shuffle peers list for integration test Ref #140
  src/messages/Peers.hpp
Due: none

Revert "[debug] don't shuffle peers list for integration test Ref #140"
  src/messages/Peers.hpp
Due: none

[ci] dummy commit to trigger ci Ref #106
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

[ci] fix ci triggers Ref #106
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

[docker] comments Ref #106
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

[docker] prod dockerfile Ref #106
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

[ci] refacto Ref #106
  .gitlab-ci.yml
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug, build_image_dev:release

[ci] typo Ref #106
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

[ci] test rebuild env dev Ref #106
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

[ci] test rebuild env prod Ref #106
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

[docker] entrypoint running mongodb and bot Ref #106
  Readme.md
  utils/dockers/entrypoint.sh
Due: none

[docker] build release image with args Ref #106
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

[ci] update pistache Ref #106
  .gitlab-ci.yml
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

[API] removed InstallSignalHandler method usage Ref #148
  src/api/Rest.hpp
Due: none

Revert "[API] removed InstallSignalHandler method usage Ref #148"
  src/api/Rest.hpp
Due: none

[API] don't use deprecated Pistache method Ref #148
  src/api/Rest.hpp
Due: none

[pistache] fix flags with updated version Ref #148
  src/api/Rest.hpp
Due: none

[docker] rebuild Ref #106
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

Add consensus tests Ref #159
  .gitignore
  src/crypto/Sign.cpp
  src/ledger/Ledger.hpp
  src/ledger/LedgerMongodb.cpp
  src/ledger/LedgerMongodb.hpp
  tests/consensus/Consensus.cpp
Due: none

[git] revert wtf merge Ref #106
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

[ci] rebuild dev env Ref #106
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

[ci] rebuild prod image Ref #106
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

[ci] cleannup + rebuild both Ref #106
  .gitlab-ci.yml
  utils/dockers/Dockerfile.core
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

Add tests for check_transactions functions Ref #159
  src/consensus/Consensus.cpp
  tests/consensus/Consensus.cpp
Due: none

Add tests for check_block functions Ref #159
  src/consensus/Consensus.cpp
  src/consensus/Consensus.hpp
  tests/consensus/Consensus.cpp
Due: none

[docker] fixing from image for core Ref #106
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

[docker] entrypoint for standalone bot Ref #106
  utils/dockers/entrypoint.sh
Due: none

[API] total_nb_blocks & total_nb_transactions endpoints Ref #102
  src/api/Api.cpp
  src/api/Api.hpp
  src/api/Rest.cpp
  src/api/Rest.hpp
Due: none

[API] remove old api using libonion #102
  src/CMakeLists.txt
  src/api/Rest.cpp
  src/api/Rest.hpp
Due: build_image_dev:debug

[API] get_block endpoint Ref #102
  src/api/Api.cpp
  src/api/Api.hpp
  src/api/Rest.cpp
  src/api/Rest.hpp
  src/messages/messages.proto
Due: none

[API] last_blocks endpoint Ref #102
  src/api/Rest.cpp
  src/api/Rest.hpp
Due: none

[API] list_transactions route #102
  src/api/Api.cpp
  src/api/Api.hpp
  src/api/Rest.cpp
  src/api/Rest.hpp
  src/messages/messages.proto
Due: none

[API] get_transaction route Ref #102
  src/api/Api.hpp
  src/api/Rest.cpp
  src/messages/Hasher.hpp
Due: none

[ci] fix dependencies between jobs Ref #106
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

Add tests for check_block functions Ref #159
  src/crypto/Ecc.cpp
  src/crypto/Ecc.hpp
  tests/consensus/Consensus.cpp
Due: none

Path conditions:
  build_image_dev:debug: any of: utils/dockers/Dockerfile.*, CMakeLists.txt, src/CMakeLists.txt, .gitlab-ci.yml
  build_image_dev:release: any of: utils/dockers/Dockerfile.ubuntu, ./CMakeLists.txt, ./**/CMakeLists.txt, .gitlab-ci.yml
  build_image_prod:release: any of: utils/dockers/Dockerfile.ubuntu, ./CMakeLists.txt, ./**/CMakeLists.txt
