Repository neurochain/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image_dev:debug, build_image_dev:release, build_image_prod:release

build_image_dev:debug:
  image: docker:stable
  stage: env_dev
  variables:
    DOCKER_DRIVER: overlay2
  tags:
  - dind
  script:
  - build_docker "Dockerfile.ubuntu" "Debug"

build_image_dev:release:
  image: docker:stable
  stage: env_dev
  variables:
    DOCKER_DRIVER: overlay2
  tags:
  - dind
  script:
  - build_docker "Dockerfile.ubuntu" "Release"

build_image_prod:release:
  image: docker:stable
  stage: prod
  variables:
    DOCKER_DRIVER: overlay2
  tags:
  - dind
  dependencies:
  - build_job:release
  script:
  - build_docker "Dockerfile.core" "Release"

try gtest 1.8.1 #249
  cmake/Hunter/config.cmake
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release

try again gtest 1.8.1 #249
  CMakeLists.txt
  cmake/Hunter/config.cmake
Due: none

try again gtest 1.8.1 #249
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release

try again gtest 1.8.1 #249
  cmake/Hunter/config.cmake
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release

gtest config first #249
  cmake/Hunter/config.cmake
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release

trying anything #249
  cmake/Hunter/config.cmake
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release

trying gtest before boost #249
  CMakeLists.txt
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release

trying hunter_default_version #249
  cmake/Hunter/config.cmake
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release

trying gtest 1.10.0-p0 #249
  cmake/Hunter/config.cmake
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release

trying to remove gtest #249
  CMakeLists.txt
  cmake/Hunter/config.cmake
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release

trying clang #249
  CMakeLists.txt
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release

change compiler to clang for gtest-1.8.0-p11 to work #249
  .gitlab-ci.yml
Due: build_image_prod:release

ld_preload for pistache #249
  utils/dockers/Dockerfile.core
  utils/dockers/entrypoint.sh
Due: build_image_prod:release

compile the bot before launching it #249
  utils/dockers/Dockerfile.core
Due: build_image_prod:release

remove the second workdir in dockerfile #249
  utils/dockers/Dockerfile.core
Due: build_image_prod:release

ls #249
  utils/dockers/Dockerfile.core
Due: build_image_prod:release

fix ld_preload
  utils/dockers/Dockerfile.core
  utils/dockers/entrypoint.sh
Due: build_image_prod:release

remove ld_preload #249
  CMakeLists.txt
  utils/dockers/Dockerfile.core
  utils/dockers/entrypoint.sh
Due: build_image_prod:release

remove ld_preload #249
  utils/dockers/Dockerfile.core
Due: build_image_prod:release

[api] added a quick cookbook #249
  Api.md
Due: none

don't enable grpc by default #249
  src/Bot.cpp
  src/api/GRPC.cpp
  src/messages/config.proto
  testnet/bot.json
Due: none

[grpc] use 0.0.0.0 instead of localhost #249
  src/api/GRPC.cpp
  src/tooling/grpcclient.cpp
Due: none

[grpc] fix list_transaction wasn't implemented #250
  src/api/grpc/Transaction.cpp
  src/messages/rest.proto
Due: none

[hole] display key pub and number of hole generated #245
  src/tooling/holes.cpp
Due: none

[doc] update api.md (part 1) #251
  Api.md
Due: none

[doc] update api.md (part 2) #251
  Api.md
Due: none

[ledger] fix block was added 2 time #234
  src/ledger/LedgerMongodb.cpp
Due: none

[doc] full_node doc #252
  tests/integration.cpp
Due: none

[doc] simple_interaction doc #252
  tests/integration.cpp
Due: none

[doc] disconnect doc #252
  tests/integration.cpp
Due: none

[doc] disconnect_message doc #252
  tests/integration.cpp
Due: none

[doc] random_deconnection doc #252
  tests/integration.cpp
Due: none

[doc] neighbors_propagation doc #252
  tests/integration.cpp
Due: none

[doc] neighbors_connections doc #252
  tests/integration.cpp
Due: none

[doc] key_gen_connection doc #252
  tests/integration.cpp
Due: none

[doc] fullfill_network doc #252
  tests/integration.cpp
Due: none

[doc] connection_opportunity doc #252
  tests/integration.cpp
Due: none

[doc] connection_opportunity_update doc #252
  tests/integration.cpp
Due: none

[doc] connection_reconfig doc #252
  tests/integration.cpp
Due: none

[doc] ignore_bad_message doc #252
  tests/integration.cpp
Due: none

Path conditions:
  build_image_dev:debug: any of: utils/dockers/Dockerfile.ubuntu
  build_image_dev:release: any of: utils/dockers/Dockerfile.ubuntu
  build_image_prod:release: any of: utils/dockers/Dockerfile.core, .gitlab-ci.yml
