Repository neurochain/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image_dev:debug, build_image_dev:release, build_image_prod:release

build_image_dev:debug:
  image: docker:stable
  stage: env_dev
  variables:
    DOCKER_DRIVER: overlay2
  tags:
  - dind
  script:
  - build_docker "Dockerfile.ubuntu" "Debug"

build_image_dev:release:
  image: docker:stable
  stage: env_dev
  variables:
    DOCKER_DRIVER: overlay2
  tags:
  - dind
  script:
  - build_docker "Dockerfile.ubuntu" "Release"

build_image_prod:release:
  image: docker:stable
  stage: release
  variables:
    DOCKER_DRIVER: overlay2
  services:
  - docker:stable-dind
  script:
  - build_docker "Dockerfile.ubuntu" "Release"

[rest] fix namespace issue Ref #102
  src/api/Rest.cpp
Due: none

[ci] rebuild prod on gitlabci changes Ref #102
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

[ci] fix typo Ref #106
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

[ci] setting path for entrypoint.sh Ref #10-
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

[ci] du does not have permission for / Ref #106
  src/CMakeLists.txt
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

[testnet] json template Ref #106
  src/CMakeLists.txt
  testnet/bot.json
Due: build_image_dev:debug

[testnet] new configuration file for testnet Ref #106
  testnet/bot.json
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

[ci] wtf path Ref #106
  src/tooling/confgen.cpp
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

[ci] wtf path Ref #106
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

Fix CI Ref #159
  tests/consensus/Consensus.cpp
Due: none

[ci] rebuild prod Ref #106
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

Fix CI Ref #106
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

Fix --version return code Ref #106
  src/main.cpp
Due: none

[doc] Readme: run docker Ref #106
  Readme.md
Due: none

[doc] expose port Ref #106
  Readme.md
Due: none

[doc] update mongo Ref #106
  Readme.md
Due: none

fix typo in testnet json Ref #106
  testnet/bot.json
Due: none

[testnet] update doc and configuration Ref #106
  Readme.md
  testnet/bot.json
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

[api] adding get block by height Ref #102
  src/api/Api.cpp
  src/api/Api.hpp
  src/api/Rest.cpp
  src/api/Rest.hpp
Due: none

[rest] get peers Ref #102
  src/api/Api.cpp
  src/api/Api.hpp
  src/api/Rest.cpp
  src/api/Rest.hpp
  src/messages/Peers.cpp
  src/messages/Peers.hpp
Due: none

[networking] fix remote endpoint Ref #106
  src/api/Rest.cpp
  src/networking/tcp/Connection.cpp
Due: none

[docker] rebuild prod image Ref #106
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

[networking] fix remote ip propagation Ref #102
  src/networking/tcp/Connection.cpp
  src/networking/tcp/Tcp.cpp
Due: none

[ci] remove condition on prod image build Ref #102
  .gitlab-ci.yml
Due: build_image_dev:debug, build_image_dev:release

Fix docker image Ref #102
  testnet/bot.json
  utils/dockers/entrypoint.sh
Due: none

Rebuild docker Ref #102
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

Fix docker image Ref #102
  src/CMakeLists.txt
  testnet/bot.json
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

Fix docker image Ref #102
  utils/dockers/Dockerfile.core
Due: build_image_dev:debug

Fix docker image Ref #102
  utils/dockers/entrypoint.sh
Due: none

[deploy] changing opti from O3 to O2 for compatibility test Ref #102
  CMakeLists.txt
  utils/dockers/Dockerfile.core
  utils/dockers/Dockerfile.ubuntu
Due: build_image_dev:debug, build_image_dev:release, build_image_prod:release

Path conditions:
  build_image_dev:debug: any of: utils/dockers/Dockerfile.*, CMakeLists.txt, src/CMakeLists.txt, .gitlab-ci.yml
  build_image_dev:release: any of: utils/dockers/Dockerfile.ubuntu, ./CMakeLists.txt, ./**/CMakeLists.txt, .gitlab-ci.yml
  build_image_prod:release: any of: utils/dockers/Dockerfile.ubuntu, ./CMakeLists.txt, ./**/CMakeLists.txt
